<li><a href="/">Blog</li>
<li><a href="/writing">Writing</li>
<li><a href="/feed.xml">RSS</li>
<li>
    <a class="fa fa-twitter mentions-twitter"
       href="https://twitter.com/balrogboogie">@balrogboogie</a>
</li>
<li>
    <a class="fa fa-github mentions-github"
       href="https://github.com/pwoolcoc">@pwoolcoc</a>
</li>
<li><a href="https://stackoverflow.com/users/35288/paul-woolcock">StackOverflow</li>
<li>
    <a href="/resume.html">R&eacute;sum&eacute;</a>
    (<a href="/resume.pdf">pdf</a>)
</li>
